<div class="container">
    <ol class="breadcrumb">
      <li><a href="#">Home</a></li>
      <li><a href="#">Create Tree</a></li>
    </ol>
</div>
<div class="container">
    <h1>Create Tree</h1>
    <h4>Generate a tree structure using the following parameters:</h4>
    <hr class="empty">
      <form id="createTreeForm">
        <div class="form-group">
          <label for="nameTree">Name</label>
          <input type="text" class="form-control" id="nameTree" placeholder="Name" name="nameTree">
        </div>
        <div class="form-group">
          <label for="splitSize">Split Size</label>
          <input type="number" class="form-control" id="splitSize" name="splitSize" placeholder="" min="2" value="2">
        </div>
        <div class="form-group">
          <label for="depthSize">Depth</label>
          <input type="number" class="form-control" id="depthSize" name="depthSize" placeholder="" min="2" value="2">
        </div>
        <div class="form-group">
          <p>Nodes: <strong id="totalNodes">1</strong></p>
          <input type="hidden" class="form-control" id="totalInput" name="total" value="1">
        </div>
        <hr class="empty">
        <h4>Verteces Attribute List</h4>
        <div id="VertexAttributeListBox">
          <div class="row">
            <div class="col-sm-4">
              <div class="form-group">
                <input type="text" class="form-control input-validation-vertex" placeholder="Vertex Attribute Name" name="vertexAttrName[]">
              </div>
            </div>
            <div class="col-sm-2">
              <select class="form-control" name="vertexGenerationRule[]"><option disabled>Select Value Generation Rule</option><option value="1">Random(K-N)</option></select>
            </div>
            <div class="col-sm-1">
            <div class="form-group">
              <input type="number" class="form-control input-validation-vertex" placeholder="K Value" name="kValueVertex[]">
            </div>
            </div>
            <div class="col-sm-1">
            <div class="form-group">
              <input type="number" class="form-control input-validation-vertex" placeholder="N Value" name="nValueVertex[]">
            </div>
            </div>
            <div class="col-sm-1">
              <div class="checkbox">
                <label>
                  <input type="checkbox" class="vertex-checkbox" value="1"> Integer
                </label>
              </div>
            </div>
          </div>
        </div>
        <input type="hidden" name="isIntegerV[]" id="checkbox0">
        <button type="button" class="btn btn-info btn-sm" id="addAttrVert">Add Vertex Attribute</button>
        <hr class="empty">
        <h4>Edges Attribute List</h4>
        <div id="EdgeAttributeListBox">
        <div class="row">
          <div class="col-sm-4">
            <div class="form-group">
                <input type="text" class="form-control input-validation-edge" placeholder="Edge Attribute Name" name="edgeAttrName[]">
              </div>
          </div>
          <div class="col-sm-2">
            <select class="form-control" name="edgeGenerationRule[]"><option disabled>Select Value Generation Rule</option><option value="1">Random(K-N)</option></select>
          </div>
          <div class="col-sm-1">
          <div class="form-group">
            <input type="number" class="form-control input-validation-edge" name="kValueEdge[]" placeholder="K Value">
          </div>
          </div>
          <div class="col-sm-1">
          <div class="form-group">
            <input type="number" class="form-control input-validation-edge" name="nValueEdge[]" placeholder="N Value">
          </div>
          </div>
          <div class="col-sm-1">
              <div class="checkbox">
                <label>
                  <input type="checkbox" class="edge-checkbox" value="1"> Integer
                </label>
              </div>
            </div>
        </div>
        </div>
        <input type="hidden" name="isIntegerE[]" id="checkbox1">
        <button type="button" class="btn btn-info btn-sm" id="addAttrEdge">Add Edge Attribute</button>
        <hr>
        <button type="submit" class="btn btn-success btn-lg" id="buildTreeButton">Build Tree</button>
      </form>
    </div>
