<h2 class="treeDetailsName">Name 1</h2>
            <div class="row">
            <div class="col-sm-6">
              <label>Id</label>
              <p>001</p>
              <label>Split Size</label>
              <p>2</p>
              <label>Depth</label>
              <p>17</p>
              <label>Nodes</label>
              <p>324523523</p>
            </div>
            <div class="col-sm-6">
              <label>Time Calculation</label>
              <p>23452 s</p>
              <label>Last Operation</label>
              <p>11/03/2017</p>
              <label>Creation</label>
              <p>11/03/2017</p>
            </div>
            </div>
            <hr>
            <h4>Calculate Path</h4>
            <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                      <label>Source Node</label>
                      <input type="text" class="form-control input-validation-modal" placeholder="Insert a Node" name="source-node">
                    </div>
                </div>
                <div class="col-sm-6">
                <div class="form-group">
                <label>Destination Node</label>
                  <select class="form-control" name="destination Node"><option disabled>Select Destination Node</option></select>
                  </div>
                </div>
              </div>
            <button type="button" class="btn btn-success btn-lg" id="calculatePathButton">Start</button>
            <hr>
            <h4>Verteces Attributes</h4>
            <table class="table table-stripped table-light">
              <thead>
              <tr>
                <th>Name</th>
                <th class="text-center">Value Generation Rule</th>
              </tr>
              </thead>
              <tbody>
                <tr>
                  <td><strong>PTime</strong></td>
                  <td class="text-center"><span class="label label-primary">Random(1-5)</span></td>
                </tr>
                <tr>
                  <td><strong>Cost</strong></td>
                  <td class="text-center"><span class="label label-primary">Random(1-3)</span></td>
                </tr>
              </tbody>
            </table>
            <hr>
            <h4>Edges Attributes</h4>
            <table class="table table-stripped table-light">
              <thead>
              <tr>
                <th>Name</th>
                <th class="text-center">Value Generation Rule</th>
              </tr>
              </thead>
              <tbody>
                <tr>
                  <td><strong>PTime</strong></td>
                  <td class="text-center"><span class="label label-primary">Random(1-5)</span></td>
                </tr>
                <tr>
                  <td><strong>Cost</strong></td>
                  <td class="text-center"><span class="label label-primary">Random(1-3)</span></td>
                </tr>
              </tbody>
</table>