<div class="container">
    <ol class="breadcrumb">
      <li><a href="#">Home</a></li>
      <li><a href="#">Retrieve Tree</a></li>
    </ol>
</div>
<div class="container">
    <h1>Retrieve Tree</h1>
    <h4>Retrieve from the database a Tree previously stored.</h4>
    <hr class="empty">
    <table class="table table-stripped table-hover table-inverse">
       <thead>
        <tr>
         <th>Tree Name</th>
         <th>Id</th>
         <th>Split Size</th>
         <th>Depth</th>
         <th>Nodes</th>
         <th>Time Calculation</th>
         <th>Last Operation</th>
         <!--<th></th>-->
       <tr>
       </thead>
       <tbody>
       <tr class="showTree" data-tree-id="{{id}}">
         <td>Name 1</td>
         <td>234</td>
         <td>3</td>
         <td>5</td>
         <td>23452345</td>
         <td>PTime</td>
         <td>Cost</td>
         <!--<td><a href="#" class="text-danger">Delete</a></td>-->
       </tr>
       <tr class="showTree" data-tree-id="{{id}}">
         <td>Name 2</td>
         <td>004</td>
         <td>2</td>
         <td>15</td> 
         <td>2345332452</td>
         <td>PTime</td>
         <td>Cost</td>
         <!--<td><a href="#" class="text-danger">Delete</a></td>-->
       </tr>
       </tbody>
      </table>
    </div>